@import url(http://db.onlinewebfonts.com/c/7e75845e1b4b42b02f5b7610614f6cc3?family=Gimmicky);

body {
    zoom: 2;
}

img, video, p {
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
}

img, video {
    right: 0;
    top: 0;
}

video::-webkit-media-controls {
    display: none;
}

p {
    padding: 10px;
    font-family: 'Gimmicky';
    font-size: xx-small;
}
